ul{ color: black;
  text-align: center ;
  font-size:25px;
}

li{ color: black;
text-align: center;
font-size: 20px;}

h1{color: black;
  text-align: center;
  font-size: 20px;}

p{
  color: black;
text-align: center;
font-size: 20px;
}
h3{ color: black;
  text-align: center;
  font-size: 20px;

}
 
section{
  text-align: center;
}


body{ background-image: url(".jpeg");
 background-repeat: no-repeat;
background-position:center center;
background-size: cover;
}
div{
  border-style:double;
  border-width: 10px;
  border-color:green;
  border-radius:25px;
  background-color:;
  text-align:center;
}

title{
text-align:center; 

}
 
header{ 
  background-position: center center ;
  background-position:center center;
  background-size: cover;
  border-style: double ;
  border-width: 10px ;
  border-color: rgb(199, 112, 54);
  border-radius: 20px;

}

nav ul li{
  display: inline-block;
}
 main { border-style:double;
  border-width: 10px;
  border-color:green;
  border-radius:25px;
  background-color:;
  text-align:center;
  display: inline-block;
  background-color:none;
  border:solid 10px green;
  margin:10px 15% 10x 10%;

}




